body {
  background: #fff5dc; }

a.ui.button.brown {
  background: #432818; }
  a.ui.button.brown a.ui.button.brown:hover {
    background: #b67648; }

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 400%; }

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 300%; }

.exp {
  margin-bottom: 6rem;
  display: grid;
  grid-template-areas: "image" "content"; }
  @media (min-width: 40rem) {
    .exp {
      grid-template-columns: 50% 50%;
      grid-template-rows: auto; }
      .exp.odd {
        grid-template-areas: "content image"; }
      .exp.even {
        grid-template-areas: "image content"; } }

.box {
  width: 100%;
  grid-area: content;
  background: #ffe6a7;
  display: grid;
  grid-template: "title" "top" "bottom";
  min-height: 7rem; }
  .box h4 {
    max-width: 9rem;
    margin: 0.6rem 0; }
  .box .date {
    max-width: 9rem; }
  .box h3 {
    font-size: 150%;
    margin: 0.5rem 0rem; }
  @media (min-width: 40rem) {
    .box {
      width: 95%; } }

.box__title,
.box-top {
  display: flex;
  align-items: center;
  background: #b67648; }

.box-top {
  grid-area: top;
  justify-content: space-between;
  padding: 0.2rem 1.2rem; }

.box__title {
  grid-area: title;
  justify-content: center; }

.box-bottom {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  background: #ffe6a7;
  justify-content: start;
  padding: 1.2rem; }
  .box-bottom ul {
    list-style-type: none; }
    .box-bottom ul li {
      float: left;
      padding: 5px; }
  .box-bottom .tasks {
    list-style-type: disc;
    text-align: left; }
    .box-bottom .tasks li {
      float: none; }

.exp__img {
  grid-area: image;
  display: flex;
  align-items: center; }
  .exp__img img {
    margin: 0 auto;
    width: 65%;
    height: auto;
    max-height: 13.2rem;
    padding-bottom: 1.2rem; }

@media (min-width: 40rem) {
  .odd .box {
    margin: 0 auto 0 3rem; }
  .odd img {
    margin: 0 3rem 0 auto; } }

@media (min-width: 40rem) {
  .even .box {
    margin: 0 3rem 0 auto; }
  .even img {
    margin: 0 auto 0 3rem; } }

.page-title {
  color: #ffe6a7;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 11rem;
  text-align: center;
  background: #b67648 url("./img/exp-background.jpg"); }

header {
  background: #ffe6a7;
  display: grid;
  grid-template: "top" "bottom";
  min-height: 7rem;
  position: relative;
  margin: 0 auto;
  padding: 10rem 1rem 1rem 1rem;
  width: 75%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 0 repeat(3, auto);
  top: -3.5rem; }
  header .header__image {
    margin: 0 auto;
    text-align: center;
    height: 0; }
    header .header__image img {
      transform: translateY(-15rem);
      border-radius: 50%; }
  header .header__contacts {
    grid-column: 1;
    text-align: center; }
    header .header__contacts a {
      color: #432818; }
    header .header__contacts a:hover {
      color: #b67648; }
  header .header__resume {
    margin: 0 2rem 1rem 2rem;
    text-align: center;
    grid-column: 1; }
  header .header__buttons {
    text-align: center;
    grid-column: 1; }
    header .header__buttons .button {
      margin-bottom: 0.5rem; }
  @media (min-width: 40rem) {
    header {
      width: 45%; } }

.section {
  margin-bottom: 10rem; }

.section-title {
  text-align: center;
  color: #b67648;
  margin-bottom: 6rem; }

.section__skills {
  padding-top: 1.2rem;
  background: url("./img/exp-background.jpg"); }
  .section__skills h2 {
    color: #ffe6a7; }

.skills {
  padding-bottom: 1.6rem; }
  @media (min-width: 40rem) {
    .skills {
      display: flex;
      justify-content: center;
      flex-flow: row wrap; } }

.skill-box {
  color: #ffffff;
  background: #432818;
  padding: 1.2rem;
  margin-bottom: 1rem; }
  @media (min-width: 40rem) {
    .skill-box {
      margin: 0 0.6rem 1rem 0.6rem;
      min-width: 30%; } }
  .skill-box .top {
    text-align: center; }

.formation {
  padding-bottom: 1.5rem; }
  .formation .top,
  .formation .bottom {
    margin: 0 3rem; }

@media (min-width: 40rem) {
  .formation:nth-child(odd) {
    text-align: right; } }
footer {
  padding: 2rem 1.2rem 0 1.2rem;
  transform: translateY(15rem);
  background: #432818;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  footer a,
  footer a:hover {
    color: #b67648; }
  footer .footer__up {
    display: none; }
    @media (min-width: 40rem) {
      footer .footer__up {
        display: block; } }

/*# sourceMappingURL=cv.css.map */
