@font-face
    font-family: pixel
    src: url("./font/pixel.ttf")
@font-face
    font-family: pokemon
    src: url("./font/Pokemon Solid.ttf")

$title-color:("inside":#FFC937, border:#3566AA)
$background-color:#DA4D32
$content-color: black

.pokedex__container
    font-family: pixel
    width: 550px

    .title
        text-align: center
        font-family: pokemon
        font-size: 2.5rem
        color: map-get($title-color,"inside")
        -webkit-text-stroke: 0.2rem map-get($title-color,"border")
    #pokemon

        font-size: 1.6rem
        background: $background-color

        height: 500px
        padding: 20px 2px 0 2px
        color: white

    #main
        background: $content-color
        border: solid white
        height: 450px

    .top
        display: grid
        grid-template-columns: 2fr 3fr
        margin: 8px 4px
        border-bottom: solid 5px $background-color

    .top_left
        display: grid

    .top_left__image
        background-size: 100%
        background-color: white
        width: 220px
        height: 220px

    .top_left__number
        justify-self: center
        font-weight: bold
        line-height: 1
        height: 45px

    .top_left__page
        p
            padding-left: 2px
            margin: 0
            border: solid 5px $background-color
            border-bottom: none
            width: 50px
            height: 20px
            font-size: 1.2rem
            line-height: 1

    .top_right
        padding-top: 40px
        padding-left: 35px
        display: grid
        font-size: 1.5rem
        grid-template-rows: repeat(1fr)

    .description
        padding-left: 35px
        height: 158px
        line-height: 2.5rem
        font-size: 1.7rem
        word-spacing: 1.3rem

    .bottom
        height: 28px
        border-radius: 25px
        display: grid
        grid-template-rows: auto
        background: $content-color
        grid-template-areas: "page cry print back"
        justify-items: center
        .control
            line-height: 0.8
            i
                font-style: normal
                visibility: hidden
        .control:first-of-type  i
            visibility: visible

    .tutorial
        display: grid
        grid-template-columns: 1fr 1fr
        div
            border-bottom: solid 1px
